*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(2, 2, 31);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 1200px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.evenOdd{
    width: 70%;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    background-color: rgb(2, 2, 31);
}
.evenOdd h1{
 color: #fff;
 padding: 10px 0px;
}
.evenOdd input{
    width: 50%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 2px solid transparent;
}
.evenOdd input:focus{
    width: 50%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 2px solid rgb(96, 212, 72);
    outline: none;
}
#evenOddInput::placeholder{
 text-align: center;
}
#evenOddInput{
 text-align: center;
}
.evenOdd button{
    all: unset;
    padding: 5px 20px;
    margin-top: 5px;
    border: 1px solid lightgreen;
    background-color: rgb(43, 143, 43);
    color: white;
    cursor: pointer;
}
.evenOdd p{
    margin: 5px 0px;
    font-size: 20px;
    color: rgb(197, 168, 4);
    text-transform: uppercase;
 }