* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", serif;
}

body {
    background: #000000;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(30, 0, 0, 1) 100%);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evenOdd {
    width: 50%;
    flex-direction: column;
    border: 1px solid #ffffff3b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;

}

.evenOdd h1 {
    /* color: #fffefe; */
    font-size: 64px;
    padding: 10px 0px;
    background: -webkit-linear-gradient(#ff0202, #505050);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: #120303; */
}

.evenOdd input {
    width: 50%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 2px solid transparent;
    transition: all ease .3s;
    border-radius: 5px;
    background-color: #ffffffd5;

}

.evenOdd input:focus {
    width: 50%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 2px solid rgb(233, 45, 45);
    outline: none;
    background-color: rgba(161, 22, 22, 0.507);
    color: #fff;
}

#evenOddInput::placeholder {
    text-align: center;
}

#evenOddInput {
    text-align: center;
}

.evenOdd button {
    all: unset;
    padding: 5px 30px;
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(214, 1, 1);
    color: #fff;
    cursor: pointer;
    transition: all ease .1s;
}

.evenOdd button:hover {
    background-color: #000000;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.637);
}

.evenOdd p {
    margin: 5px 0px;
    font-size: 30px;
    background: -webkit-linear-gradient(#ff0202, #505050);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-transform: uppercase; */
    transition: all ease-in .3s;
    animation: alternate;
}


/*  The End Of EvenOdd Checker */

.simple-calculator{
    width: 200px;
    height: 200px;
    background: rgb(114, 111, 111);
}